<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>FBOpen Docs</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/fbopen">
        <img src="/fbopen/assets/fbopen.png"><br/><br/>
        <h1>FBOpen Docs</h1>
      </a>
        <p>FBOpen helps small businesses search for opportunities to work with the U.S. government.</p>

<!--
        <ul>
          <li><a href="https://github.com/leahbannon/fbd/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/leahbannon/fbd/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/leahbannon/fbd">View On <strong>GitHub</strong></a></li>
        </ul>
-->
      </header>
      <section>
