/* 
 * fbopen.css
 * simple stylesheet for FBOpen sample web app
 */

body {
	padding: 40px 0;
	background-color: #F2F2F2;
}
body.sbir {
  background-color: #FFF;
}
#outer-container {
	min-height: 300px;
}

#footer {
	padding-top: 60px;
	text-align: right;
}
#footer .container {
	/*background-color: #f5f5f5;*/
/*	text-align: left;
*/	max-width: 100%;
	padding: 0 5px;
	text-align: center;
}
#footer .container .credit {
	margin: 1em;
}

#github-link, #twitter-link, #email-link {
	width: 33px;
	height: 35px;
	margin: 10px;
	display: inline-block;
  background-position: 0 2px;
  background-repeat: no-repeat;
}
#github-link:hover, #twitter-link:hover, #email-link:hover {
  background-position: left bottom;
}

#github-link {
	background-image: url('../images/FBOpen-socialicon-github.png');
}
#twitter-link {
	background-image: url('../images/FBOpen-socialicon-twitter.png');
}
#email-link {
  background-image: url('../images/FBOpen-socialicon-email.png');
}


h1, .logo {
	display: none;
	font-size: 48px;
	margin-top: 10px;
}
.sub-h1 {
	margin-top: -10px;
	font-style: italic;
}

a {
	color: #01ABCA;
}
a:hover {
	text-decoration: none;
}

#fbopen-search-form {
	margin-top: 20px;
}
#fbopen-search-form .form-group {
	margin-bottom: 5px;
}
#naics {
	width: 100px;
}

#fbopen-search-form .form-group label {
	margin: auto; /* was: auto 5px; */
	font-weight: normal;
	width: 90px;
	vertical-align: middle;
	height: 34px;
	line-height: 34px;
}

#results-container {
	display: none; /* starts hidden */
}
.lead {
	height: 28px;
}
#results-list {
	list-style-type: none;
	padding: 0;
}
#results-list .result-item {
	font-size: 22px;
	background-color: #FFF;
	padding: 10px 20px 30px;
	margin: 10px 0 30px;
}
body.sbir #results-list .result-item {
  border: 1px solid black;
}
.result-item > .row {
	margin-left: 0;
	margin-right: 0;
}
.listing-main {
	margin-bottom: 20px;
}
.result-item .title, .result-item .title > a {
	font-family : Enriqueta;
	font-size : 22px;
	font-weight: bold;
	color : #EA461F;
}
.no-listing-url {
	font-size: smaller;
	font-style: italic;
}
highlight {
	font-weight: bold;
}
.edit-summary {
	padding: 0;
	margin: 0;
	vertical-align: top;
	line-height: 1.428571429;
}
.content-snippet {
	padding-top: 10px;
}
.content-snippet p {
	font-size: 12px;
}
.word-tag-outer {
	padding: 3px;
}
.word-tag {
	background-color: yellow;
	font-weight: bold;
}

.list-group {
	margin-top: 20px;
}

#test-box {
	border: solid 1px gray;
	padding: 10px;
	box-shadow: 3px 3px 0 0 lightgray;
	background-color: beige;
}

.naics-facets {
	display: none; /* starts hidden */
}
.naics-facets .badge {
	height: 20px;
	margin-left: 5px;
}
.naics-facets .list-group-item {
	color: #428bca;
	border: 0 none;
}
.naics-facets .list-group-item.text-muted {
	color: #999999;
}
.naics-facets .list-group-header {
	color: black;
}
.naics-facets a.active {
	color: white;
}

.form-group label, .result-industry, .result-where {
	margin: 10px;
}

#portfolios-container {
	display: none;
}

#q, #naics, #data_source, #go, #more-options {
	display: inline;
}
#more-options {
	margin-left: 5px;
}
#naics, #data_source {
	/*width: 250px;*/
	float: right;
}

.brand a {
	display: inline-block;
	background: url('../images/fbopen-logo.png') no-repeat 0 1px;
	width: 174px;
	height: 48px;
	margin: 0;
}
.brand a:hover {
	background-position: left bottom; /* 0% 100%; */
}
.brand.brand-sbir a {
  background: url('../images/sbir-sttr-logo.png') no-repeat 0 1px;
  width: 239px;
  height: 62px;
}
.brand a h1 {
	color: gray;
}
.brand a:hover {
	text-decoration: none;
}
.brand a:hover h1 {
	text-decoration: none;
	color: green;
}
.brand h6 {
	display: none;
}

.brand > span {
	font-family: Roboto;
	font-weight: 100;
	font-size: 24px;
	vertical-align: baseline;
	padding-left: 5px;
	color: rgb(11, 189, 212);
	position: relative;
	bottom: 10px;
  margin: 0 6px;
}

.pagination-box {
	width: 100%;
	text-align: right;
	/*margin-top: 20px;*/
}
.pagination {
	margin: 10px 0 0;
}
.pagination > li > a, .pagination > li > span, .pagination > li > span > a,
.pagination > .disabled > a, .pagination > .disabled > span, 
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	border: 0 none;
	height: auto;
	background: none;
	color: #EA461F;
	padding: 0 4px 2px;
	font-family: Enriqueta;
	font-size: 12px;
	font-weight: bold;
	margin: 0 1px;
}
.pagination > li.current > span {
	background-color: #EA461F;
	color: #FFFFFF;
}

.numFound {
	line-height: 35px;
	margin: 20px;
}

/* results content */
.score {
	font-size: 10px;
	text-align: right;
	margin-top: 24px;
}
.score-dots, .score-text {
  color: #BBBBBB;
}
.score-dots {
	font-size: 20px;
	line-height: 20px;
}
.whitedot {
	position: relative;
	bottom: 1px;
}
.popover-title, .popover-content {
	color: #4D4D4D;
}
.score_therm_outer {
	width: 300px;
	height: 12px;
	border: solid 1px gray;
	/* gradient generator: http://freehtml5templates.com/gradientgenerator/gradient-generator2.php */
	background-color: #F12D0A;
	background: -webkit-gradient(linear, left center, right center, from(#5EAEF3), to(#F12D0A));
	background: -moz-linear-gradient(left, #5EAEF3 0%, #F12D0A 100%);
}
.score_therm {
	height: 10px;
	float: right;
	background-color: white;
	opacity: .9;
}
.attachment-title, .attachment-icon {
	font-size: 75%;
}
.glyphicon {
	margin-right: 5px;
}

/* tagging */
ul.opp-tags {
	display: inline-block;
	border: 0 !important;
	font-size: 90%;
	padding-left: 0;
}
ul.opp-tags > li {
	border: 0;
}

ul.tagit li.tagit-new {
	padding-bottom: 0;
}
.tagit-new > input {
	font-size: 12px;
	vertical-align: top;
	border: solid 1px lightgray;
	padding: 2px 7px;
	width: 140px;
	margin-top: -2px;
}
.tags-label {
	vertical-align: top;
	margin-right: 10px;
	font-size: 12px;
	line-height: 32px;
}
#results-raw-outer {
	display: none;
}

/* Added */

.page-nav {
  font-family : Enriqueta;
  font-weight : bold;
  font-size : 12px;
  color : #E33A21;
}
.sort-by {
  font-size : 11px;
  line-height : 16.8px;
  letter-spacing : 0.22px;
  color : #B3B3B3;
}
.primary-nav {
  font-family : Merriweather;
  font-size : 12px;
  color : #6ECBE0;
}

#go {
  margin-top: 25px;
  color: #ffffff;
  background-color: #01ABCA;
  border-color: initial;
}

.collapsing{
    -webkit-transition: none;
          transition: none;
}

#advanced-toggle {
  border: 0 none;
  background-color: #E6E6E6;
  color: #FFFFFF;
  padding: 0 4px 2px;
  font-size: 18px;
  line-height: 16px;
  border-radius: 0;
  float: right;
  margin-right: 3px;
}
#form-advanced-label {
  margin: 35px 0 0;
  display: block;
  padding: 5px;
  cursor: pointer;
}
#form-advanced-label:hover {
  text-decoration: none;
  background-color: #E6E6E6;
}
#form-advanced-options {
  background: none;
  padding: 0 5px;
  margin: 3px 0;
  border-radius: 0;
}
#results-topline {
  width: 100%;
  margin: 74px 0 0;
  padding: 10px 0 0;
}
body.sbir #results-topline {
  margin-top: 90px;
}
#result-count {
  font-family: Roboto;
  font-size: 16px;
  color: #666666;
  line-height: 28px
}
#results-sorted-by {
  text-align: right;
  text-transform: uppercase;
  line-height: 28px;
  margin: 0;
  padding: 0;

  font-size : 11px;
  /*line-height : 16.8px;*/
  letter-spacing : 0.22px;
  color : #B3B3B3;
}
#results-sorted-by > span.selected {
  font-weight: bold;
}
#result-count strong {
  font-size: 22px;
  margin-right: 8px;
}
.filter-category-title
{
  font-family : Enriqueta;
  font-size : 14px;
  line-height : 16.8px;
  color : #0DA8CC;
}
.filter-category-title.advanced {
  color: #666666;
}
.filter-text {
  font-family : Roboto;
  font-size : 13px;
  letter-spacing : 0.39px;
  color : #808080;
}
.filter-count {
  font-family : Helvetica Neue;
  font-size : 9px;
  line-height : 16.8px;
  color : #FFFFFF;
}
.listing-left, .listing-right {
  margin-top: 20px;
}
.agency-name {
  font-family : Enriqueta;
  font-size : 14px;
  color : #999999;
}
.listing-text {
  border: 0 none;
  margin: 0;
  padding: 0 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.content-snippet {
  font-family : Enriqueta;
  font-size : 13px;
  line-height : 24px;
  letter-spacing : 0px;
  color : #4D4D4D; 
}
.listing-quoted-body {
  padding: 0 20px;
  margin: 20px 0;
  font-family : Enriqueta;
  font-size : 14px;
  line-height : 24px;
  letter-spacing : -0.13px;
  color : #999999;
  /* note: inherit left-border from blockquote */
}
.date, .listing-dates {
  font-family : Roboto;
  font-weight : bold;
  font-size : 12px;
  line-height : 14px;
  letter-spacing : 0.2px;
  color : #999999;
}
.listing-detail-subtitle {
  font-family : Enriqueta;
  font-size : 10px;
  color : #999999;
}
.listing-data-box {
  margin: 10px;
}
.listing-data-label {
  font-size: 11px;
  font-family: Enriqueta;
  line-height: 2;
}
.listing-data {
  font-family : Roboto;
  font-size : 12px;
  line-height : 16.8px;
  color : #0DA8CC;
}
.view-listing-box span, .view-listing-box a {
  color : #EA461F;
  line-height: 24px;
  vertical-align: middle;
  display: inline-block;
}
.view-listing-box span.glyphicon {
  font-size: 20px;
  top: -2px;
}
.listing-actions {
  display: none;
}
.tag-text {
  font-family : Roboto;
  font-size : 10px;
  line-height : 24px;
  letter-spacing : 0.1px;
  color : #0A7E99;
}
.share-link {
  font-family : Roboto;
  font-size : 11px;
  line-height : 16.8px;
  letter-spacing : 0.22px;
  color : #E33A21;
}
.expand-collapse-link {
  font-family : Roboto;
  font-size : 11px;
  line-height : 16.8px;
  letter-spacing : 0.22px;
  color : #13A5AD;
}
.service-tag {
  background : #D9F1F7;
}
.topic-tag {
  background : #9EDCEB;
}
#q /* .search-box-text */ {
  font-family: Roboto;
  font-size: 20px;
  color: #666666;
  font-weight: 100;
  padding: 10px 30px 10px 15px;
  height: 45px;
  margin: 0;
  width: 100%;
  background : #FFFFFF;
  border-radius: 0;
  border-style : Solid;
  border-color : #E6E6E6;
  border-width : 1px;
}
#q::-ms-clear { display: none; } /* don't show IE's clear-input "x" button because we have our own */

/* center placeholder on splash page */
#q.intro::-webkit-input-placeholder { text-align:center; }
#q.intro:-moz-placeholder { /* Firefox 18- */ text-align:center; }
#q.intro::-moz-placeholder {  /* Firefox 19+ */ text-align:center; }
#q.intro:-ms-input-placeholder { text-align:center; }
#q.intro {
	text-align: left;
}

.input-group-q > span {
	right: 30px;
}
#q-search {
  position: relative;
  right: 6px;
  top: -32px;
  float: right;
  background: 0 none;
  color: #666;
  cursor: pointer;
  border: 0 none;
  padding: 0;
  border-radius: 0;
}
#q-search:hover {
  background: 0 none;
  color: #333;
}
#q-search > .glyphicon {
  padding: 2px 0 0 5px;
}

.active-filter {
  background : #E6E6E6;
}

#intro {
	display: none;
	text-align: center;
	width: 100%;
	margin: 70px auto;
	min-width: 300px;
	max-width: 330px;
}
#intro .brand {
	margin-bottom: 30px;
}
#intro .brand > span {
	display: block;
	bottom: auto;
	left: auto;
}
#fbopen-search-form.intro {
	margin-top: 60px;
}

.landing-copy {
  font-family : Enriqueta;
  font-size : 22px;
  line-height : 36px;
  color : #EA461F;
}

.landing-copy-small {
  font-family : Enriqueta;
  font-size : 13px;
  line-height : 36px;
  color : #999999; /* #0DA8CC; */
}

.landing-copy > small {
	font-size: 75%;
}

@media (min-width: 1600px) {
  #sidebar { position: fixed; width: 520px; }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  #sidebar { position: fixed; width: 390px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #sidebar { position: fixed; width: 315px; } 
}

@media (max-width: 992px) {
	#results-topline {
		margin-top: 10px;
	}
	#advanced-toggle {
		float: left;
	}
}
