{% macro paginationblock(pagination, searchparams) %}
{% set pagerange = pagination.pagerange() %}
<div class="pagination-box">
  <ul class="pagination">
    {% if pagination.has_prev %}
      <li><a href="/search/page/{{ pagination.prev }}{{ searchparams }}">&lt;</a></li>
      <a href="/search/page/1{{ searchparams }}">1</a>
      {% if pagerange[0] > 2 %}<span class=ellipsis>…</span>{% endif %}
    {% else %}
      <li class="disabled"><a href="">&lt;</a></li>
    {% endif %}
    {% for page in pagerange %}
      {% if page != pagination.page %}
        <a href="/search/page/{{page}}{{ searchparams }}">{{ page }}</a>
      {% else %}
        <li class="current"><span>{{ page }}</span></li>
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
      {% if pagerange[-1] < pagination.pages -1 %}<span class=ellipsis>…</span>{% endif %}
      <a href="/search/page/{{ pagination.pages}}{{ searchparams }}">{{pagination.pages}}</a>
      <li><a href="/search/page/{{ pagination.next}}{{ searchparams }}">&gt;</a></li>
    {% else %}
      <li class="disabled"><a href="">&gt;</a></li>
    {% endif %}
  </ul>
</div>
{% endmacro %}